//Fonts
$font-fancy: 'Lato', sans-serif;
$font-base: 'Helvetica';

$font-ubuntu: 'ubuntulight' !default;
$font-display: 'playfair_displayregular'!default;

//Colors
$black: #000;

$red: red;

$white: #ffff;


